.container {
  font-family: "Poppins", sans-serif;
}
/* PC */
@media (min-width: 720px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow-x: hidden;
  }
  .imageProfile {
    margin-top: 2.4rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
  }
  .content {
    margin-top: -3.2rem;
    padding: 3.2rem 1.4rem 1.4rem 1.4rem;
    height: fit-content;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #060606;
    border-radius: 1.4rem 1.4rem 0 0;
  }
  .title {
    margin: 0;
    font-size: larger;
    color: #fff;
  }
  .subtitle {
    margin: 0;
    font-size: normal;
    color: #fff;
  }
  .label {
    margin: 0;
    font-size: smaller;
    font-weight: lighter;
    color: #fff;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 0.8rem 0;
  }
  .aboutContainer {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }
  .aboutActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .actionTransparent {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    border: none;
    padding: 0.8rem;
    background-color: #060606;
    border-radius: 0.8rem;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
  }
  .actionTransparent:hover {
    background-color: #333;
  }
  .actionTransparentLabel {
    display: flex;
  }
  .action {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;

    border: none;
    padding: 0.8rem 1.4rem;
    background-color: #fff;
    border-radius: 1.6rem;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
  }
  .action:hover {
    background-color: #bbb;
  }
  .actionsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .actionsLink {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;

    border: none;
    padding: 0.8rem;
    background-color: #060606;
    border-radius: 0.8rem;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
  }
  .actionsLink:hover {
    background-color: #333;
  }
  .linksContainer {
    margin: 0.8rem;
    width: 100%;
    padding: 0 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: small;
    gap: 0.4rem;
    width: 100%;
    border: none;
    padding: 0.8rem 1.4rem;
    background-color: #fff;
    border-radius: 0.2rem;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
  }
  .link:hover {
    background-color: #bbb;
  }

  .pixContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 0.8rem;
  }
  .valorPix {
    font-weight: bold;
    font-size: smaller;
    color: #fff;
  }
  .valorPixInput {
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    border: none;
    transition: 0.3s;
  }
  .pixContainerImage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
  }
  .pixImage {
    width: 4rem;
    height: auto;
  }
  .pixText {
    margin: 0;
    font-size: normal;
    color: #fff;
    text-align: center;
  }
}
/* Tablet */
@media (min-width: 320px) and (max-width: 720px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow-x: hidden;
  }
  .imageProfile {
    margin-top: 2.4rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
  }
  .content {
    margin-top: -3.2rem;
    padding: 3.2rem 1.4rem 1.4rem 1.4rem;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #060606;
    border-radius: 1.4rem 1.4rem 0 0;
  }
  .title {
    margin: 0;
    font-size: larger;
    color: #fff;
  }
  .subtitle {
    margin: 0;
    font-size: normal;
    color: #fff;
  }
  .label {
    margin: 0;
    font-size: smaller;
    font-weight: lighter;
    color: #fff;
  }
  .divider {
    width: 100vw;
    height: 1px;
    background-color: #333;
    margin: 0.8rem 0;
  }
  .aboutContainer {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }
  .aboutActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .actionTransparent {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    border: none;
    padding: 0.8rem;
    background-color: #060606;
    border-radius: 0.8rem;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
  }
  .actionTransparent:hover {
    background-color: #333;
  }
  .actionTransparentLabel {
    display: flex;
  }
  .action {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;
    border: none;
    padding: 0.8rem 1.4rem;
    background-color: #fff;
    border-radius: 1.6rem;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
  }
  .action:hover {
    background-color: #bbb;
  }
  .actionsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .actionsLink {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;

    border: none;
    padding: 0.8rem;
    background-color: #060606;
    border-radius: 0.8rem;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
  }
  .actionsLink:hover {
    background-color: #333;
  }
  .linksContainer {
    margin: 0.8rem;
    width: 100%;
    padding: 0 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: small;
    gap: 0.4rem;
    width: 100%;
    border: none;
    padding: 0.8rem 1.4rem;
    background-color: #fff;
    border-radius: 0.2rem;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
  }
  .link:hover {
    background-color: #bbb;
  }

  .pixContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 0.8rem;
  }
  .valorPix {
    font-weight: bold;
    font-size: smaller;
    color: #fff;
  }
  .valorPixInput {
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    border: none;
    transition: 0.3s;
  }
  .pixContainerImage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
  }
  .pixImage {
    width: 4rem;
    height: auto;
  }
  .pixText {
    margin: 0;
    font-size: normal;
    color: #fff;
    text-align: center;
  }
}
/* Celular */
@media (max-width: 320px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow-x: hidden;
  }
  .imageProfile {
    margin-top: 2.4rem;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
  }
  .content {
    margin-top: -2.4rem;
    padding: 2.4rem 1.4rem 1.4rem 1.4rem;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #060606;
    border-radius: 1.4rem 1.4rem 0 0;
  }
  .title {
    margin: 0;
    font-size: normal;
    color: #fff;
  }
  .subtitle {
    margin: 0;
    font-size: xx-small;
    color: #fff;
  }
  .label {
    margin: 0;
    font-size: xx-small;
    font-weight: lighter;
    color: #fff;
  }
  .divider {
    width: 100vw;
    height: 1px;
    background-color: #333;
    margin: 0.8rem 0;
  }
  .aboutContainer {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }
  .aboutActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .actionTransparent {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    border: none;
    padding: 0.8rem;
    background-color: #060606;
    border-radius: 0.8rem;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
  }
  .actionTransparent:hover {
    background-color: #333;
  }
  .actionTransparentLabel {
    display: none;
  }
  .action {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;

    border: none;
    padding: 0.8rem 1.4rem;
    background-color: #fff;
    border-radius: 1.6rem;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
  }
  .action:hover {
    background-color: #bbb;
  }
  .actionsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .actionsLink {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;

    border: none;
    padding: 0.4rem;
    background-color: #060606;
    border-radius: 0.8rem;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
  }
  .actionsLink:hover {
    background-color: #333;
  }
  .actionsLink svg {
    width: 1.8rem;
    height: auto;
  }
  .linksContainer {
    margin: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: small;
    gap: 0.4rem;
    width: 100%;
    border: none;
    padding: 0.8rem 1.4rem;
    background-color: #fff;
    border-radius: 0.2rem;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
  }
  .link:hover {
    background-color: #bbb;
  }

  .pixContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 0.8rem;
  }
  .valorPix {
    font-weight: bold;
    font-size: smaller;
    color: #fff;
  }
  .valorPixInput {
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    border: none;
    transition: 0.3s;
  }
  .pixContainerImage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
  }
  .pixImage {
    width: 4rem;
    height: auto;
  }
  .pixText {
    margin: 0;
    font-size: normal;
    color: #fff;
    text-align: center;
  }
}
